<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Robô Kitana</title>

  <!-- Icone do titulo -->
  <link rel="icon" href="../img/kitana-logo-preta.png" type="image/x-icon">

  <!-- CSS -->
  <link rel="stylesheet" type="text/css" href="../css/menu.css">

</head>

<body>
  <div class="fiap">
    <h3>FIAP</h3>
  </div>

  <header>
    <nav class="navegador">
      <ul>
        <li><a href="#descProjetos">Projeto</a></li>
        <li><a href="#descPerfomance">Performance</a></li>
        <li><a href="#docDocumentos">Docs</a></li>
        <img class="img1" src="../img/mensagem.png" alt="icone de mensagem">
        <a href="https://github.com/GrazielyTavares/WebKitanaOrigin/tree/main" target="_blank">
        <img class="img1" src="../img/github.png" alt="icone de github">
        </a>
      </ul>
    </nav>
  </header>
  

  <section class="robo">

    <div class="logo">
        <img class="logo-kitana" src="../img/kitana-logo-branco.png" id="kitana" alt="logo do robo">
        <div class="logo-titulo">
            <img id="logo-nome" src="../img/kitana_titulo.png" id="titulo" alt="titulo do robo">
            <img id="logo-projeto" src="../img/rob_titulo.png" id="titulo_robo" alt="titulo do projeto">
            <h2>Projeto de Robô criado pela equipe Kombatentes do curso de Sistemas de Informação pela Instituição de Ensino Superior Fiap</h2>
        </div>
    </div>

  </section>

  <section class="main-container" id="descProjetos">
    
    <div class="section-container">
        <div class="projeto-robo">
            <img src="../img/projeto_titulo.png" id="titulo_proj" alt="titulo do projeto">
            <h3>Robô Kitana: Robô de batalha com um Leque de arma</h3>
            <p><strong>O Kitana Robot é um projeto desenvolvido para participar de uma competição de batalha entre robôs na Faculdade de Sistemas de Informação. O robô será construído usando a plataforma Arduino e terá um Leque como arma, que será usado para alcançar e estourar a bexiga do oponente</strong></p>
            <button>Saiba mais</button>
        </div>

        <section class="carrosel-imagens">
            <div class="content">
                <div class="carousel">
                    <div class="images">
                        <figure class="image1">
                            <img src="../img/estrutura-arma-ativada.png" alt="Imagem principal">
                        </figure>
                        <figure class="image2">
                            <img src="../img/estrutura-arma-fechada.png" alt="Imagem principal">
                        </figure>
                        <figure class="image3">
                            <img src="../img/personagem-kitana.png" alt="Imagem principal">
                        </figure>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <section class="perf" id="descPerfomance">
        <img src="../img/performance.png" id="img1" alt="Titulo de performace">
      
        <div class="card-group">
            <div class="card card1">
                <div class="card-inner">
                    <div class="card-front"></div>
                    <div class="card-back">
                        <p>Com relação à mobilidade do robô, utilizamos dois motores com redução para Arduino com 1 roda de borracha para cada um, já acopladas, o que barateia e facilita o trabalho de instalação e utilização.</p>
                    </div>
                </div>
            </div>

            <div class="card card2">
                <div class="card-inner">
                    <div class="card-front"></div>
                    <div class="card-back">
                        <p>A energia para alimentar o robô será fornecida pelo pack de baterias que está instalado na base do robô, com espaço para 8 pilhas tipo AA.</p>
                    </div>
                </div>
            </div>

            <div class="card card3">
                <div class="card-inner">
                    <div class="card-front"></div>
                    <div class="card-back">
                        <p>Já a parte ofensiva, foi escolhido como arma um leque, que terá agulhas em todas as suas pontas da haste, garantindo um maior alcance nas tentativas de acertar o balão adversário.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>

<section>
    <div class="arma" id="docArma">
        <div>
            <img src="../img/documentos.png" id="docsimg">
            <h2>Funcionamento da Arma</h2>
            <h3>Materiais e ativação da arma</h3>
            <p></p>
        </div>

        <div>
            <h2>EM</h2>
            <h2>EXECUÇÃO</h2>

            <div class="armaAtivada"></div>
            <p>Visão Ortogonal</p>
            <div class="armaDesativada"></div>
            <p>Visão Lateral</p>
        </div>
    </div>
</section>

<section>
    <div class="hardware" id="docHardware">
          <h2>Hardware</h2>
         <h3>Peças utilizadas no desenvolvimento e criação do robo</h3>
         <p>A documentação foi fixada na plataforma do GitHub, com os demais documentos e complementos do projeto</p>
         <img src="../img/robofeliz.png" alt="robo com documentos">
    </div>
</section>

<section>
    <div class="videos" id="docVideos">
        <img src="../img/documentos.png" id="docsimg">
          <h3>Videos</h3>
          <p>A documentação foi fixada na plataforma do GitHub, com os demais documentos e complementos do projeto</p>
    
    </div>
        <div class="img-docs">
          <img src="../img/robofeliz.png" alt="robo com documentos">
        </div>
      </div>
</section>

<section>
    <div class="card">
        <video class="video" src="caminho/do/seu/video.mp4" preload="metadata"></video>
        <div class="up">
          <svg class="svg-icon" viewBox="0 0 20 20">
            <path d="M16.198,10.896c-0.252,0-0.455,0.203-0.455,0.455v2.396c0,0.626-0.511,1.137-1.138,1.137H5.117c-0.627,0-1.138-0.511-1.138-1.137V7.852c0-0.626,0.511-1.137,1.138-1.137h5.315c0.252,0,0.456-0.203,0.456-0.455c0-0.251-0.204-0.455-0.456-0.455H5.117c-1.129,0-2.049,0.918-2.049,2.047v5.894c0,1.129,0.92,2.048,2.049,2.048h9.488c1.129,0,2.048-0.919,2.048-2.048v-2.396C16.653,11.099,16.45,10.896,16.198,10.896z"></path>
            <path d="M14.053,4.279c-0.207-0.135-0.492-0.079-0.63,0.133c-0.137,0.211-0.077,0.493,0.134,0.63l1.65,1.073c-4.115,0.62-5.705,4.891-5.774,5.082c-0.084,0.236,0.038,0.495,0.274,0.581c0.052,0.019,0.103,0.027,0.154,0.027c0.186,0,0.361-0.115,0.429-0.301c0.014-0.042,1.538-4.023,5.238-4.482l-1.172,1.799c-0.137,0.21-0.077,0.492,0.134,0.629c0.076,0.05,0.163,0.074,0.248,0.074c0.148,0,0.294-0.073,0.382-0.207l1.738-2.671c0.066-0.101,0.09-0.224,0.064-0.343c-0.025-0.118-0.096-0.221-0.197-0.287L14.053,4.279z"></path>
          </svg>
          <div class="right">
            <!-- Outros SVGs -->
          </div>       
        </div>
        <div class="playbar">
          <div class="bar"></div>  
        </div>
        <div class="down">
          <div class="down__icons">
            <!-- SVGs -->
          </div>
          <p class="time">12:23 / 15:43</p>
        </div>
      </div>
      
</section>
  <div class="documentos" id="docDocumentos">
   
    <div class="docs">
      <img src="../img/documentos.png" id="docsimg">
    
      <h3>Documentação do Projeto</h3>
      <p><strong>A documentação foi fixada na plataforma do GitHub, com os demais documentos e complementos do projeto</strong></p>
      <button>Saiba mais</button>
    </div>
    <div class="img-docs">
      <img src="../img/robofeliz.png" alt="robo com documentos">
    </div>
  </div>
  

  <footer class="footer">
    <div class="footer-section">
        <h2>ORGANIZAÇÃO</h2>
        <a href="https://www.fiap.com.br/" target="_blank">
          <img src="../img/fiap_footer.png" alt="Logo FIAP">
        </a>
    </div>
    <div class="footer-section">
        <h2>FALE CONOSCO</h2>
        <div class="contato">
            <img src="../img/mensagem.png" alt="Ícone de mensagem">
            <a href="https://github.com/GrazielyTavares/WebKitanaOrigin/tree/main" target="_blank">
               <img src="../img/github.png" alt="Ícone do GitHub">
           </a>
        </div>
    </div>
</footer>

<script>
    document.addEventListener('DOMContentLoaded', function() {
      const card = document.querySelector('.card');
      const video = card.querySelector('.video');
  
      card.addEventListener('mouseover', function() {
        video.play();
      });
  
      card.addEventListener('mouseout', function() {
        video.pause();
        video.currentTime = 0; // opcional: volta o vídeo para o início
      });
    });
</script>
  

</body>

</html>