<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Robô Kitana</title>

  <!-- Icone do titulo -->
  <link rel="icon" href="../img/kitana-logo-preta.png" type="image/x-icon">

  <!-- CSS -->
  <link rel="stylesheet" type="text/css" href="../css/menu.css">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>

</head>

<body>

  <div class="fiap">
    <h3>FIAP</h3>
  </div>

  <header>
    <nav class="navegador">
      <ul>
        <li><a href="#carouselExampleDark">Projeto</a></li>
        <li><a href="#text-direction">Ataque</a></li>
        <li><a href="#func-text-direction">Funcionamento</a></li>
        <li><a href="#lyrics">Kitana em Ação</a></li>
        <li><a href="#equip-text-direction">Equipe</a></li>
        <li><a href="#robocup-text-direction">Robocup</a></li>
        <li><a href="#form-contato">Contato</a></li>
        <a href="https://github.com/GrazielyTavares/WebKitanaOrigin/tree/main" target="_blank">
          <img class="img1" src="../img/github.png" alt="icone de github">
        </a>
      </ul>
    </nav>
  </header>


  <section class="robo">
    <div class="logo">
      <img class="logo-kitana" src="../img/kitana-logo-branco.png" id="kitana" alt="logo do robo">
      <div class="logo-titulo">
        <img id="logo-nome" src="../img/kitana_titulo.png" id="titulo" alt="titulo do robo">
        <img id="logo-projeto" src="../img/rob_titulo.png" id="titulo_robo" alt="titulo do projeto">
        <h2>Projeto de Robô criado pela equipe Kombatentes do curso de Sistemas de Informação pela Instituição de Ensino
          Superior Fiap</h2>
      </div>
    </div>
  </section>

  <section class="projeto" id="descProjetos">
    <div class="projeto-section">
      <div class="projeto-robo">
        <h2>PROJETO</h2>
        <h3>Robô Kitana: Robô de batalha com um Leque de arma</h3>
        <p>O desenvolvimento do robô RF20 começou em março de 2024, com a equipe projetando e construindo sua
            estrutura em MDF. O controle eletrônico foi integrado com Arduino e um módulo Bluetooth para permitir o
            controle via celular. A equipe documentou cada etapa com fotografias e assinaturas, realizando reuniões e
            testes em sala de aula e laboratórios da FIAP. O projeto evoluiu de forma colaborativa e foi concluído em
            setembro de 2024, atendendo aos requisitos propostos.</p>
      </div>

      <!-- carrosel -->
      <div class="galeria">
        <div id="carouselExampleDark" class="carousel carousel-white slide">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
              aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1"
              aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2"
              aria-label="Slide 3"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="../img/personagem-kitana.png" class="d-block w-250" alt="Personagem Kitana">
              <div class="carousel-caption d-none d-md-block">
                <h5><strong>Personagem Kitana</strong></h5>
              </div>
            </div>
            <div class="carousel-item">
              <img src="../img/robo-frente.png" class="d-block w-250" alt="Robo visão lateral">
              <div class="carousel-caption d-none d-md-block">
                <h5><strong>Robô Kitana</strong></h5>
                
              </div>
            </div>
            <div class="carousel-item">
              <img src="../img/robo-lateral.png" class="d-block w-250" alt="Robo visão frente">
              <div class="carousel-caption d-none d-md-block">
                <h5><strong>Construção do rôbo</strong></h5>
                <p>Visão lateral, mostrando a construção da base e paredes do robô.</p>
              </div>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>

    <section class="perf" id="descPerfomance">
      <h2>PERFORMANCE</h2>

      <div class="group">
        <div class="carde carde1">
          <div class="inner">
            <div class="front"></div>
            <div class="back">
              <p>Com relação à mobilidade do robô, utilizamos dois motores com redução para Arduino com 1 roda de
                borracha para cada um, já acopladas, o que barateia e facilita o trabalho de instalação e utilização.
              </p>
            </div>
          </div>
        </div>

        <div class="carde carde2">
          <div class="inner">
            <div class="front"></div>
            <div class="back">
              <p>A energia para alimentar o robô será fornecida pelo pack de baterias que está instalado na base do
                robô, com espaço para 8 pilhas tipo AA.</p>
            </div>
          </div>
        </div>

        <div class="carde carde3">
          <div class="inner">
            <div class="front"></div>
            <div class="back">
              <p>Já a parte ofensiva, foi escolhido como arma um leque, que terá agulhas em todas as suas pontas da
                haste, garantindo um maior alcance nas tentativas de acertar o balão adversário.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </section>

  <section class="alvo">
    <img src="../img/arma_desenho.png" id="alvo_desenho" alt="Desenho arma">

    <div class="alvo_texto">
      <h2>ATAQUE</h2>
      <p id="text-direction">A estrutura da arma é feita de isopor e apresenta um mecanismo de disparo com agulhas e uma haste de palitos de
        churrasco. Controlada por um Arduino, a arma se eleva verticalmente quando ativada e retorna à configuração
        fechada quando desativada, otimizando o espaço e garantindo segurança. O design ofensivo da arma é inspirado em
        um leque, com agulhas em suas pontas, proporcionando maior alcance para acertar o alvo.</p>
    </div>
  </section>

  <section class="alvo_card">
    <h2 id="titulo_exec">EM EXECUÇÃO</h2>
    <div class="loader">
      <div class="armaAtivada"></div>
      <p><strong>Arma Ativada</strong></p>
    </div>
    <div class="loader2">
      <div class="armaDesativada"></div>
      <p><strong>Arma Desativada</strong></p>
    </div>
  </section>

  <section class="arma">

    <div class="arma_texto">
      <h2 id="func-text-direction">EM FUNCIONAMENTO</h2>
      <p >O robô é alimentado por um pack de baterias na base, que comporta até 8 pilhas AA. A mobilidade é garantida por
        dois motores com rodas de borracha, controlados pelo Arduino, que proporciona precisão e eficiência na
        movimentação. A defesa do robô é composta por uma arma feita de isopor com agulhas, montada sobre uma haste de
        palitos de churrasco. Quando ativada, a arma se eleva verticalmente da base para sua posição operacional e
        retorna à posição fechada quando desativada. O design inspirado em um leque aumenta seu alcance defensivo,
        proporcionando uma capacidade eficaz de atacar alvos.</p>
    </div>

    <div class="lista">
      <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed custom-btn" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
              Arma
            </button>
          </h2>
          <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <h5><strong>Estrutura arma</strong></h5>
              A arma se move verticalmente quando ativada e fica totalmente retrátil dentro dos limites da base quando
              desativada. A parte marrom é feita de isopor, com agulhas de tamanhos 14 e 9 e uma haste de palitos de
              churrasco.
              <hr>
              <img src="../img/arma_desenho.png" alt="Desenho arma">
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed custom-btn" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
              Base
            </button>
          </h2>
          <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <h5><strong>Estrutura base</strong></h5>
              A base do robô é a estrutura principal que sustenta o Arduino, motores, rodas e sensores. O Arduino
              controla todos os componentes eletrônicos, como motores e sensores, com base na programação. A base é
              feita de materiais resistentes e organiza a fiação e a fonte de energia, garantindo a estabilidade e o
              funcionamento do robô.
              <hr>
              <img src="../img/base.png" alt="Desenho base">
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed custom-btn" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
              Designer
            </button>
          </h2>
          <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <h5><strong>Estilo</strong></h5>
              O Designer e estilo foi inspirado no personagem Kitana do Mortal Kombat, visto que a arma é um leque, onde
              o robô tem como inspiração da arma um leque. Como também o desenho e pintura, são inspirados.
              <hr>
              <img src="../img/personagem-kitana.png" alt="Personagem Kitana">
            </div>
          </div>
        </div>
      </div>
    </div>    
  </section>

  <!-- Videos -->
  <section class="videos" id="lyrics">
    <div class="videos-kitana">
      <h2>Kitana em Ação</h2>
    </div>
      <div class="acao-titulos">
        <h3>Construção e Movimento</h3>
        <h3 id="text22">Controle na Palma da Mão</h3>
      </div>
      <div class="acao-videos">
        <div class="ratio ratio-4x3">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/uOb1yN4Mo4I?si=WRxHtx_de4SfxGD4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
        
        <div class="ratio ratio-4x3" id="videos22">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/7waIoU3_6uw?si=wMghmXGtBWuzgA18" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
      </div>
  </section>

  <!-- Equipe -->
  <section class="equipe">
    <div class="equipe-secoes">
        <div class="acao" id="equip-text-direction">
            <h2>Equipe Kombatentes</h2>         
            <p>Este projeto foi desenvolvido por uma equipe multidisciplinar, unindo expertise em diferentes áreas para trazer o melhor resultado:</p>
        </div>
    </div>

        <div class="cards-time">
            <div class="card-Web">
                <div class="perfil">
                    <div class="perfil__img"><img src="../img/fundo-Grazi.png"><img id="imagem-invertida" src="../img/fundo-Grazi.png" alt="fundo"></div>
                    <div class="perfil__avatar"><img src="../img/perfil-Grazi.jpeg" alt="perfil"></div>
                    <div class="perfil__title">Graziely Tavares</div>
                    <div class="perfil__subtitle">Web e Designer</div>
                    <div class="perfil__wrapper">
                        <div class="perfil__btn">
                            <a href="https://github.com/GrazielyTavares" target="_blank">
                                <img src="../img/github-preto.png" alt="Ícone do GitHub">
                            </a>
                            <a href="https://www.linkedin.com/in/graziely-tavares-094007231" target="_blank">
                                <img src="../img/logotipo-do-linkedin.png" alt="Ícone do Linkedin">
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card-Doc">
                <div class="perfil">
                    <div class="perfil__img"><img src="../img/fundo-okuma.png"><img id="imagem-invertida" src="../img/fundo-okuma.png" alt="fundo"></div>
                    <div class="perfil__avatar"><img src="../img/perfil-okuma.png" alt="perfil"></div>
                    <div class="perfil__title">Samuel Okuma</div>
                    <div class="perfil__subtitle">Hardware</div>
                    <div class="perfil__wrapper">
                        <div class="perfil__btn">
                            <a href="https://github.com/okumajj" target="_blank">
                                <img src="../img/github-preto.png" alt="Ícone do GitHub">
                            </a>
                            <a href="https://www.linkedin.com/in/samuel-okuma/" target="_blank">
                                <img src="../img/logotipo-do-linkedin.png" alt="Ícone do Linkedin">
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card-Rob">
                <div class="perfil">
                    <div class="perfil__img"><img src="../img/fundo-arthur.png"><img id="imagem-invertida" src="../img/fundo-arthur.png" alt="fundo"></div>
                    <div class="perfil__avatar"><img src="../img/perfil-Arthurr.png" alt="perfil"></div>
                    <div class="perfil__title">Arthur Arruda</div>
                    <div class="perfil__subtitle">Documentação</div>
                    <div class="perfil__wrapper">
                        <div class="perfil__btn">
                            <a href="https://github.com/turz1n" target="_blank">
                                <img src="../img/github-preto.png" alt="Ícone do GitHub">
                            </a>
                            <a href="https://www.linkedin.com/in/arthur-a-676082334/" target="_blank">
                                <img src="../img/logotipo-do-linkedin.png" alt="Ícone do Linkedin">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>


  <!-- Robocup -->
  <section class="robocup"  >
    <div class="videos-robocup">
      <div class="ratio ratio-16x9" id="robocup-text-direction">
        <iframe src="https://www.youtube.com/embed/UKcEUDlnX9Q?si=MrZy4ab2VRHwIY2N&amp;start=3" title="YouTube video player" allowfullscreen></iframe>
      </div>
      
      <div class="ratio ratio-16x9">
        <iframe src="https://www.youtube.com/embed/7Ggx_UsW17o?si=3QBGgZq9SeW7fQex&amp;start=3" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      </div>
    </div>
   
    <div class="texto-robocup">
      <h2>ROBOCUP FIAP 2024</h2>
      <p>A Robocup é a competição instituição de Ensino Superior FIAP. Alunos dos 1°s anos de Sistemas de Informação
        constroem robôs para participar de duelos, onde o principal objetivo é estourar o balão que o adversário
        carrega. Sendo realizada no evento Next realizado pela instituição FIAP</p>
    </div>
  </section>

    <!-- Contato -->
    <section class="contato-form">
      <form id="form-contato"> 
        <div class="form-contato">
            <h2>Entre em Contato!</h2>
            <h3>Nome</h3>
            <input placeholder="Nome Sobrenome" type="text"   id="name2" required>
            <h3>Email</h3>
            <input type="email" placeholder="email@gmail.com" type="email" id="email2" required>
            <h3>Telefone</h3>
            <input type="tel" placeholder="(DD)90000-0000" type="number"  id="phone" required>
            <button type="submit">Enviar</button>
            <div id="message"></div>
        </div>
    </form>
  
      <div class="texto-contato">
        <h2>Fale Conosco</h2>
        <p>Tem alguma dúvida ou sugestão?</p> 
         <p>Preencha o formulário e entraremos em contato rapidamente.</p>
      </div>
    </section>

  <footer class="footer">
    <div class="footer-section">
      <h2>ORGANIZAÇÃO</h2>
      <a href="https://www.fiap.com.br/" target="_blank">
        <img src="../img/fiap_footer.png" alt="Logo FIAP">
      </a>
    </div>
    <div class="footer-section">
      <h2>FALE CONOSCO</h2>
      <div class="contato">
        <img src="../img/mensagem.png" alt="Ícone de mensagem">
        <a href="https://github.com/GrazielyTavares/WebKitanaOrigin/tree/main" target="_blank">
          <img src="../img/github.png" alt="Ícone do GitHub">
        </a>
      </div>
    </div>
  </footer>

  <!--Js para apagar os campos do form-->
  <script>
    document.getElementById('form-contato').addEventListener('submit', function(event) {
        event.preventDefault(); 
        
        const name = document.getElementById('name2').value;
        const email = document.getElementById('email2').value;
        const phone = document.getElementById('phone').value;

        const messageDiv = document.getElementById('message');
        messageDiv.textContent = 'Informações enviadas!';
        messageDiv.style.color = '1DCAF6';

        this.reset();
    });
</script>
</body>
</html>