<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Robô Kitana</title>

  <!-- Icone do titulo -->
  <link rel="icon" href="../img/kitana-logo-preta.png" type="image/x-icon">

  <!-- CSS -->
  <link rel="stylesheet" type="text/css" href="../css/menu.css">

</head>

<body>
  <div class="fiap">
    <h3>FIAP</h3>
  </div>

  <header>
    <nav class="navegador">
      <ul>
        <li><a href="#projeto">Projeto</a></li>
        <li><a href="#titulo_proj">Performance</a></li>
        <li><a href="#docsimg">Docs</a></li>
        <img class="img1" src="../img/mensagem.png" alt="icone de mensagem">
        <a href="https://github.com/GrazielyTavares/WebKitanaOrigin/tree/main" target="_blank">
        <img class="img1" src="../img/github.png" alt="icone de github">
        </a>
      </ul>
    </nav>
  </header>
  

  <section class="robo">

    <div class="logo">
        <img class="logo-kitana" src="../img/kitana-logo-branco.png" id="kitana" alt="logo do robo">
        <div class="logo-titulo">
            <img id="logo-nome" src="../img/kitana_titulo.png" id="titulo" alt="titulo do robo">
            <img id="logo-projeto" src="../img/rob_titulo.png" id="titulo_robo" alt="titulo do projeto">
            <h2>Projeto de Robô criado pela equipe Kombatentes do curso de Sistemas de Informação pela Instituição de Ensino Superior Fiap</h2>
        </div>
    </div>

  </section>

  <section class="main-container">
    
    <div class="section-container">
        <div class="projeto-robo">
            <img src="../img/projeto_titulo.png" id="titulo_proj" alt="titulo do projeto">
            <h3>Robô Kitana: Robô de batalha com um Leque de arma</h3>
            <p><strong>O Kitana Robot é um projeto desenvolvido para participar de uma competição de batalha entre robôs na Faculdade de Sistemas de Informação. O robô será construído usando a plataforma Arduino e terá um Leque como arma, que será usado para alcançar e estourar a bexiga do oponente</strong></p>
            <button>Saiba mais</button>
        </div>

        <section class="carrosel-imagens">
            <div class="content">
                <div class="carousel">
                    <div class="images">
                        <figure class="image1">
                            <img src="../img/estrutura-arma-ativada.png" alt="Imagem principal">
                        </figure>
                        <figure class="image2">
                            <img src="../img/estrutura-arma-fechada.png" alt="Imagem principal">
                        </figure>
                        <figure class="image3">
                            <img src="../img/personagem-kitana.png" alt="Imagem principal">
                        </figure>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <section class="perf">
        <img src="../img/performance.png" id="img1" alt="Titulo de performace">
      
        <div class="card-group">
            <div class="card card1">
                <div class="card-inner">
                    <div class="card-front"></div>
                    <div class="card-back">
                        <p>Com relação à mobilidade do robô, utilizamos dois motores com redução para Arduino com 1 roda de borracha para cada um, já acopladas, o que barateia e facilita o trabalho de instalação e utilização.</p>
                    </div>
                </div>
            </div>

            <div class="card card2">
                <div class="card-inner">
                    <div class="card-front"></div>
                    <div class="card-back">
                        <p>A energia para alimentar o robô será fornecida pelo pack de baterias que está instalado na base do robô, com espaço para 8 pilhas tipo AA.</p>
                    </div>
                </div>
            </div>

            <div class="card card3">
                <div class="card-inner">
                    <div class="card-front"></div>
                    <div class="card-back">
                        <p>Já a parte ofensiva, foi escolhido como arma um leque, que terá agulhas em todas as suas pontas da haste, garantindo um maior alcance nas tentativas de acertar o balão adversário.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>



  <div class="documentos">
   
    <div class="docs">
      <img src="../img/documentos.png" id="docsimg">
    
      <h3>Documentação do Projeto</h3>
      <p><strong>A documentação foi fixada na plataforma do GitHub, com os demais documentos e complementos do projeto</strong></p>
      <button>Saiba mais</button>
    </div>
    <div class="img-docs">
      <img src="../img/robofeliz.png" alt="robo com documentos">
    </div>
  </div>
  </section>

  <footer class="footer">
    <div class="footer-section">
        <h2>ORGANIZAÇÃO</h2>
        <a href="https://www.fiap.com.br/" target="_blank">
          <img src="../img/fiap_footer.png" alt="Logo FIAP">
        </a>
    </div>
    <div class="footer-section">
        <h2>FALE CONOSCO</h2>
        <div class="contato">
            <img src="../img/mensagem.png" alt="Ícone de mensagem">
            <a href="https://github.com/GrazielyTavares/WebKitanaOrigin/tree/main" target="_blank">
               <img src="../img/github.png" alt="Ícone do GitHub">
           </a>
        </div>
    </div>
</footer>

</body>

</html>